{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Huse Books</title>
    <link rel="stylesheet" href="{%static 'styles.css'%}">
    <script src="{% static 'functions.js' %}">
    </script>
</head>
<body>
  <a href="/"><h1 id="topheading"> <img src="{%static 'thumb.png'%}" alt=""> </h1></a>
  <div class="nav-bar">
    <hr>
    <div class="nac-data">
  {% if user.is_authenticated %}
  <form class="logout" action="{% url 'accounts:logout' %}" method="post" style="float:right;">
    {% csrf_token %}
    <input type="submit" name="" value="Logout">
  </form>
  <a href="{%url 'inventory:homepage'%}">Inventory</a>
  <a href="{% url 'accounts:profile' %}">{{request.user}}</a>
  <a href="{% url 'billing:homepage' %}">Billing</a>
  <a href="{% url 'expense:homepage' %}">Expense</a>
  <a href="{% url 'accounting:dashboard' %}">Dashboard</a>
  <a href="/">MainPage</a>
  {% else %}
  <form class="signup" action="{% url 'accounts:signup' %}" method="post">
    {% csrf_token %}
    <input type="submit" id="sign-button" value="Signup">
  </form>
  <form class="login" action="{% url 'accounts:login' %}" method="post">
    {% csrf_token %}
    <input type="submit" name="" id="login-button" value="Login">
  </form>
  {% endif %}
  </div>
  <hr>
  </div>
  <div class="content">
    {%block content%}
    {%endblock%}
  </div>
<div class="footer-main">
  <ul>
    <li> <a href="/">About us</a> </li>
    <li>{%if user.is_authenticated%}<a href="{% url 'support:customer-support' %}">{%else%}<a href="{% url 'support:unknown' %}">{% endif %}Support</a> </li>
  </ul>
  <ul>
    {% if user.is_authenticated %}
    <li><a href="{% url 'support:suggestion' %}" >Suggestion</a</li>
      {% endif %}
  </ul>
</div>
</body>
</html>
