{% extends 'base_layout.html' %}
{% block content %}
<h1>Detail</h1>
<div class="acc-detail-tab">
  <table border="1px">
    <thead>
      <tr>
        <td>Item</td>
        <td>Category</td>
        <td>Cost</td>
        <td>Selling Price</td>
        <td>Profit</td>
        <td>Date</td>
        <td>Buyer</td>
      </tr>
    </thead>
    <tbody>
      {%for point in data%}
      <tr>
        <td>{{point.name}}</td>
        <td>{{point.category}}</td>
        <td>{{point.cost}}</td>
        <td>{{point.price}}</td>
        <td>{{point.profit}}</td>
        <td>{{point.date}}</td>
        <td>{{point.buyer}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
