{% extends 'base_layout.html' %}

{% block content %}
<div class="ir-exp-form">
  <h1>Regular EXP</h1>
  <form class="ir-exp-input" action="{% url 'expense:irexp' %}" method="post">
    {% csrf_token %}
    <div class="ir-exp-name">
    <label for="name-exp-ir">Title:</label>
    <input type="text" name="name" value="" id="name-exp-ir" required><br>
    </div>
    <div class="ir-exp-cost">
    <label for="cost-exp-ir">Cost:</label>
    <input type="number" name="cost" value="" id="cost-exp-ir" required><br>
    </div>
    <input type="submit" value="Submit">
  </form>
</div>
{% endblock %}
