{% extends 'base_layout.html' %}

{% block content %}
<h1 id="main-heading">HUSE BOOKS</h1>
<div class="up">
  <div class="side-text">
    <h2>Our Mission</h2>
    <p>Our mission is to provide what users can get expensively, better and cheap,free.</p>
  </div>
  <div class="image">

  </div>
</div>
<div class="goal">
  <div class="side-text">
    <h2>Our Goal</h2>
    <p>Our goal is to provide better and cheaper solutons for problem that occur in daily life.</p>
  </div>
</div>
<div class="image">

</div>
<div class="About">
  <div class="side-text">
    <h2>About us</h2>
    <p>We are developers located in Pakistan.
      <br> We are here to make change to do what hasn't been done.
      <br>Head: Syed Ubaid-Ur-Rehman
      </p>
  </div>
</div>
{% endblock %}
