{%extends 'base_layout.html'%}
{%block content%}
<div class="invent-table">
  <table align='center' border="2 px" width='90%'>
    <div class="invent-table-header">
      <tr>
        <td colspan="5" align='center'> <h1>INVENTORY</h1> </td>
      </tr>
    <tr>
      <td align='center' >CODE</td>
      <td align='center'>NAME</td>
      <td align='center'>Value</td>
      <td align='center'>QUANTITY</td>
      <td align='center'>UNIT PRICE</td>
    </tr>
    </div>
    {% for list in data %}
    <tr>
      <td align='center'>{{list.code}}</td>
      <td align='center'>{{list.name}}</td>
      <td align='center'>{{list.price}}</td>
      <td align='center'>{{list.quantity}}</td>
      <td align='center'>{{list.unit_price}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{%endblock%}
