{% extends 'base_layout.html' %}

{% block content %}
<h1>LOGIN</h1>
{% if message %}
<h2>{{message}} (OR) <a href="">Contact Support</a> </h2>
{% endif %}
<form class="login-form" action="/accounts/login/" method="post">
  {%csrf_token%}
  {%if user.is_authenticated%}
  <h1>Alredy logged in!</h1>
  {%else%}
  {{form.as_p}}
  <div class="login-submit">
  <br> <input type="submit"name="" value="Login">
  </div>
  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{request.GET.next}}">
  {% endif %}
  {%endif%}

</form>
{% endblock %}
