{%extends 'base_layout.html'%}
{%block content%}
<div class="profile">
  <form class="edit-button" action="/accounts/profile/edit/" method="get">
    {% csrf_token %}
    <button type="submit" name="edit" style="width:100%;height:100%;">Edit</button>
  </form>
  <div class="profile-img">
    <img src="{{data.profile_picture.url}}" alt="">
  </div>
  <div class="ddlj">
  <h1>USERNAME: {{user}}</h1>
  {%if user.is_superuser%} <h2>Type: Admin</h2> {% elif user.is_staff %} <h2>STAFF MEMBER</h2> {%endif%}
  <h2>First Name: {% if data.first_name %}{{data.first_name}}{% else %}"NOT FOUND!"{%endif%}</h2>
  <h2>Last Name: {% if data.last_name %}{{data.last_name}}{% else %}"NOT FOUND!"{%endif%}</h2>
  <h2>Email: {% if data.email %}{{data.email}}{% else %}"NOT FOUND!"{%endif%}</h2>
  <h2>Bussines Name: {% if data.business %}{{data.business}}{% else %}"NOT FOUND!"{%endif%}</h2>
  </div>
</div>
{% endblock %}
