{% extends 'base_layout.html' %}

{% block content %}
<ul>
  <li>Users are responsible for using this website in any means.</li>
  <li>Users should use this website on their own wish.</li>
  <li>The Admins are not responsable for any loss.</li>
  <li>Admins are not responsable for any data loss.</li>
  <li>Users are bound to follow any rules made in the future.</li>
  <li>Users can help keeping this site up if they want.</li>
  <li>Admins can bann anyone on valid reasons.</li>
  <li>User are advised to think before they perform an action in website</li>
</ul>
{% endblock %}
