{% extends 'base_layout.html' %}

{% block content %}
<div class="exp-record">
  <h1>Expense Record</h1>
  <div class="exp-record-tab-up">
  <table border="1px" class="exp-record-table">
    <thead>
      <td>Item</td>
      <td>Category</td>
      <td>Cost</td>
      <td>date</td>
    </thead>
    <tbody>
      {% for point in data %}
      <tr>
        <td>{{point.name}}</td>
        <td>{{point.category}}</td>
        <td>{{point.cost}}</td>
        <td>{{point.date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>
{% endblock %}
